body {
    font-family: 'Lato', sans-serif;
    color: #565555;
}

img {
    width: 100%;
}

.grid {
    max-width: 960px;
    margin: 0 auto;
}

.wrapper {
    padding: 0 10px;
}

.header {
    margin-bottom: 10px;
}

.header .wrapper {
    display: flex;
    padding: 10px 10px 5px 10px;
    border-bottom: 4px solid #bcbbbb;
}

.logo {
    width: 13%;
}

.title {
    width: 87%;
}

.title,
.name {
    text-align: right;
}

h1.name {
    margin: 0;
    font-size: 10vw;
    font-weight: 300;
    text-transform: uppercase;
}

.job {
    display: none;
    text-transform: uppercase;
}

.main-image {
    margin-bottom: 30px;
}

.works .header {
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 25px;
    color: #bcbbbb;
}

.works .list .item {
    margin-bottom: 25px;
}

.works .item .header {
    margin: 0;
    text-transform: uppercase;
    font-weight: 100;
    color: #565555;
}

.works .item .image {
    margin-bottom: 5px;
}

.works .item .description {
    text-align: justify;
    padding-bottom: 5px;
}

.works .item .link {
    text-align: center;
    padding-bottom: 5px;
}

@media screen and (min-width: 480px) {
    .logo img {
        max-width: 120px;
    }

    .header .title .name {
        font-size: 6vw;
        margin-top: 1vw;
    }

    .job {
        display: block;
        font-size: 2.5vw;
    }
}

@media screen and (min-width: 640px) {
    .works .header {
        text-align: left;
        font-size: 2em;
    }

    .works .list .item {
        display: flex;
    }

    .works .item .image,
    .works .item .info {
        width: 50%;
    }

    .works .item .info .wrapper {
        padding-left: 10px;
    }

    .works .item .link {
        text-align: left;
    }
}

@media screen and (min-width: 960px) {
    .col-2 {
        width: 16.66%;
    }

    .col-10 {
        width: 83.34%;
    }

    .col-12 {
        width: 100%;
    }

    .header {
        margin-bottom: 30px;
    }

    .header .wrapper {
        padding-bottom: 10px;
    }

    .header .title .name {
        font-size: 3.4em;
        margin-top: 0.3em;
    }

    .job {
        font-size: 1.3em;
    }

    .works .list {
        display: flex;
    }

    .works .item {
        width: 33.33%;
        flex-direction: column;
    }

    .works .item .info,
    .works .item .image {
        width: 100%;
        padding: 0;
    }

    .works .left {
        padding-right: 16px;
    }

    .works .center {
        padding-right: 8px;
        padding-left: 8px;
    }

    .works .right {
        padding-left: 16px;
    }

    .works .item .link,
    .works .item .header {
        text-align: center;
    }
}